*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}
body{
    width:100vw;
    height: 100vh;
}
header{
    height: 12vh;
    background-color: red;
}

main{
    width: 70vw;
    height: 80vh;
    margin: 7vh auto 0;
    background-color: blue;
}

