*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}
body{
    width:100vw;
    height: 100vh;
}
header{
    background-color: red;
    height: 15vh;
  
}

header>img{
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    background-color: inherit;          
}
h1{
    display: inline-block;
    background-color: inherit;
}
main{
    width: 70vw;
    height: 80vh;
    margin: 7vh auto 0;
    background-color: blue;
}



