*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}
body{
    width:100vw;
    height: 100vh;
}
header{
    background-color: white;
    height: 100px;
    padding: 15px 0;
  
}

header>img{
    width: auto;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 30px;    
    background-color: inherit;          
}

h1{
    display: inline-block;
    background-color: inherit;
    line-height: 60px;
}
main{
    width: 70vw;
    height: 80vh;
    margin: 7vh auto 0;
    background-color: blue;
}



